{% extends 'base_authentication.html.twig' %}

{% block title %}Dessertation{% endblock %}

{% block h1 %}Просмотр данных{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('flight_information_import') }}" class="btn btn-success mb-2">
                <span data-feather="plus"></span> Загрузить
            </a>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="d-flex">
                    <th scope="col" class="col-md-2">Номер самолета</th>
                    <th scope="col" class="col-md-2">Дата вылета</th>
                    <th scope="col" class="col-md-2">Номер вылета</th>
                    <th scope="col" class="col-md-6">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for flightInformation in pagination %}
                    <tr class="d-flex">
                        <td class="col-md-2">{{ flightInformation.flightInformationId.airplaneNumber }}</td>
                        <td class="col-md-2">{{ flightInformation.flightInformationId.flightDate|date('d-m-Y') }}</td>
                        <td class="col-md-2">{{ flightInformation.flightInformationId.flightNumber }}</td>
                        <td class="col-md-6">
                            <a href="{{ path('flight_information', { 'slug': flightInformation.slug }) }}" target="_blank"
                               class="btn btn-outline-primary text-nowrap">
                                <span data-feather="eye"></span> Просмотреть
                            </a>
                            <a href="{{ path('flight_information_dd', { 'slug': flightInformation.slug }) }}" target="_blank"
                               class="btn btn-outline-primary text-nowrap">
                                <span data-feather="eye"></span> Плотность распределения
                            </a>
                            <a href="{{ path('flight_information_delete', { 'slug': flightInformation.slug }) }}"
                               class="btn btn-danger text-nowrap">
                                <span data-feather="x-square"></span> Удалить
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-auto">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}