{% extends 'base.html.twig' %}

{% block title %}Dessertation{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('import') }}" class="btn btn-success mb-2">
                <span data-feather="plus"></span> Загрузить
            </a>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="d-flex">
                    <th scope="col" class="col-md-1">ID</th>
                    <th scope="col" class="col-md-2">Номер самолета</th>
                    <th scope="col" class="col-md-3">Дата вылета</th>
                    <th scope="col" class="col-md-1">Номер вылета</th>
                    <th scope="col" class="col-md-5">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for departure in pagination %}
                    <tr class="d-flex">
                        <th scope="row" class="col-md-1">{{ departure.id }}</th>
                        <td class="col-md-2">{{ departure.airplane }}</td>
                        <td class="col-md-3">{{ departure.date }}</td>
                        <td class="col-md-1">{{ departure.departure }}</td>
                        <td class="col-md-5">
                            <a href="{{ path('departure', {'id': departure.id}) }}" target="_blank"
                               class="btn btn-outline-primary text-nowrap">
                                <span data-feather="eye"></span> Просмотреть
                            </a>
{#                            <a href="{{ path('product_delete', {'id': product.id}) }}"#}
{#                               class="btn btn-danger text-nowrap">#}
{#                                <span data-feather="x-square"></span> Удалить#}
{#                            </a>#}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-auto">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}