{% extends 'base.html.twig' %}

{% block title %}Оперативный контроль{% endblock %}

{% block content %}
    {% for error in errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endfor %}
    <canvas class="my-4 w-100" id="averageAll"></canvas>
    <canvas class="my-4 w-100" id="t4Rnd"></canvas>
    <canvas class="my-4 w-100" id="t4Rvd"></canvas>
    <canvas class="my-4 w-100" id="rndRvd"></canvas>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('Chart.bundle.min.js', 'chartjs') }}"></script>
    <script>
        (function () {
            const tooltipCallback = {
                label: function (tooltipItem, data) {
                    let label = '';
                    const item = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                    let date = new Date(item.flightDate);
                    date = new Intl.DateTimeFormat('ru').format(date);
                    label += date;
                    label += ' ' + item.flightNumber;
                    label += ': (' + tooltipItem.label + ', ' + tooltipItem.value + ')';
                    label = `Дата - ${date}, Номер вылета - ${item.flightNumber}: (${tooltipItem.label}, ${tooltipItem.value})`;
                    return label;
                }
            };

            const ctx = document.getElementById('averageAll');
            new Chart(ctx, {{ average|json_encode|raw }});

            const ctx1 = document.getElementById('t4Rnd');
            const config1 = {{ t4Rnd|json_encode|raw }};
            config1.options.tooltips.callbacks = tooltipCallback;
            new Chart(ctx1, config1);

            const ctx2 = document.getElementById('t4Rvd');
            const config2 = {{ t4Rvd|json_encode|raw }};
            config2.options.tooltips.callbacks = tooltipCallback;
            new Chart(ctx2, config2);

            const ctx3 = document.getElementById('rndRvd');
            const config3 = {{ rndRvd|json_encode|raw }};
            config3.options.tooltips.callbacks = tooltipCallback;
            new Chart(ctx3, config3);
        })();
    </script>
{% endblock %}
