{% extends 'base_authentication.html.twig' %}

{% block title %}Плотность распределения{% endblock %}

{% block h1 %}Плотность распределения{% endblock %}

{% block content %}
    <div id="plotlyT4Rvd" class="w-100 flex-fill"></div>
    <div id="plotlyT4Rnd" class="w-100 flex-fill"></div>
    <div id="plotlyRvdRnd" class="w-100 flex-fill"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('plotly-latest.min.js', 'plotly') }}"></script>
    <script src="{{ asset('js/app.js', 'app') }}"></script>
    <script>
        (function () {
            const elementT4Rvd = document.getElementById('plotlyT4Rvd');
            const elementT4Rnd = document.getElementById('plotlyT4Rnd');
            const elementRvdRnd = document.getElementById('plotlyRvdRnd');
            const rowsCurrent = {{ dataCurrent|json_encode|raw }};
            const rowsEnquiry = {{ dataEnquiry|json_encode|raw }};
            const calcEngineValueCurrent = {
                t4: {{ calcEngineValueCurrent.t4|json_encode|raw }},
                rvd: {{ calcEngineValueCurrent.rvd|json_encode|raw }},
                rnd: {{ calcEngineValueCurrent.rnd|json_encode|raw }},
            };
            const calcEngineValueEnquiry = {
                t4: {{ calcEngineValueEnquiry.t4|json_encode|raw }},
                rvd: {{ calcEngineValueEnquiry.rvd|json_encode|raw }},
                rnd: {{ calcEngineValueEnquiry.rnd|json_encode|raw }},
            };

            dd_chartT4Rvd(elementT4Rvd, rowsCurrent, rowsEnquiry, calcEngineValueCurrent, calcEngineValueEnquiry);
            dd_chartT4Rnd(elementT4Rnd, rowsCurrent, rowsEnquiry, calcEngineValueCurrent, calcEngineValueEnquiry);
            dd_chartRvdRnd(elementRvdRnd, rowsCurrent, rowsEnquiry, calcEngineValueCurrent, calcEngineValueEnquiry);
        })();
    </script>
{% endblock %}
