{% extends 'base.html.twig' %}

{% block title %}Оперативный контроль{% endblock %}

{% block body %}
    <canvas class="my-4 w-100" id="myChart"></canvas>
    <a class="btn btn-success mb-2" href="{{ path('math', {'id': departure_id}) }}" target="_blank">
        <span data-feather="tool"></span>
        Что-то расчитать
    </a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('Chart.bundle.min.js', 'chartjs') }}"></script>
    <script>
        var ctx = document.getElementById('myChart');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ labels|json_encode|raw }},
                datasets: [{
                    label: 'Температура правого двигателя',
                    backgroundColor: '#0000ff',
                    borderColor: '#0000ff',
                    data: {{ t4Right|json_encode|raw }},
                    borderWidth: 1,
                    fill: false,
                    yAxisID: 'y-temp-engine',
                }, {
                    label: 'Температура левого двигателя',
                    backgroundColor: '#ff0000',
                    borderColor: '#ff0000',
                    data: {{ t4Left|json_encode|raw }},
                    borderWidth: 1,
                    fill: false,
                    yAxisID: 'y-temp-engine',
                }, {
                    label: 'Положение РУД правого двигателя',
                    backgroundColor: '#00ff00',
                    borderColor: '#00ff00',
                    data: {{ alfaRight|json_encode|raw }},
                    borderWidth: 1,
                    fill: false,
                    yAxisID: 'y-alfa-rud',
                }, {
                    label: 'Положение РУД левого двигателя',
                    backgroundColor: '#000000',
                    borderColor: '#000000',
                    data: {{ alfaLeft|json_encode|raw }},
                    borderWidth: 1,
                    fill: false,
                    yAxisID: 'y-alfa-rud',
                }, {
                    label: 'Обороты РНД правого двигателя',
                    backgroundColor: '#999900',
                    data: {{ rndRight|json_encode|raw }},
                    borderColor: '#999900',
                    borderWidth: 1,
                    fill: false,
                    yAxisID: 'y-rnd',
                }, {
                    label: 'Обороты РНД левого двигателя',
                    backgroundColor: '#ff8000',
                    borderColor: '#ff8000',
                    data: {{ rndLeft|json_encode|raw }},
                    borderWidth: 1,
                    fill: false,
                    yAxisID: 'y-rnd',
                }, {
                    label: 'Обороты РВД правого двигателя',
                    backgroundColor: '#b300b3',
                    borderColor: '#b300b3',
                    data: {{ rvdRight|json_encode|raw }},
                    borderWidth: 1,
                    fill: false,
                    yAxisID: 'y-rvd',
                }, {
                    label: 'Обороты РВД левого двигателя',
                    backgroundColor: '#00b38f',
                    borderColor: '#00b38f',
                    data: {{ rvdLeft|json_encode|raw }},
                    borderWidth: 1,
                    fill: false,
                    yAxisID: 'y-rvd',
                }]
            },
            options: {
                elements: {
                    point: {
                        radius: 0
                    }
                },
                title: {
                    display: true,
                    text: 'Температура двигателя'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Время, с'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Температура, °C'
                        },
                        id: 'y-temp-engine',
                        ticks: {
                            min: -2400,
                            max: 800,
                        }
                    }, {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Положение РУД, °'
                        },
                        id: 'y-alfa-rud',
                        ticks: {
                            min: -160,
                            max: 160,
                        }
                    }, {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Обороты РНД, %'
                        },
                        position: 'right',
                        id: 'y-rnd',
                        ticks: {
                            min: -120,
                            max: 360,
                        }
                    }, {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Обороты РВД, %'
                        },
                        position: 'right',
                        id: 'y-rvd',
                        ticks: {
                            min: 0,
                            max: 400,
                        }
                    }]
                }
            }
        })
    </script>
{% endblock %}
