<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Главная{% endblock %}</title>

    <link href="{{ asset('css/bootstrap.min.css', 'bootstrap') }}" rel="stylesheet">

    <meta name="theme-color" content="#563d7c">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href={{ path('index') }}>Главная</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        </ul>
    </div>
</nav>
{% set currentRoute = app.request.attributes.get('_route') %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('import') }}">
                            <span data-feather="tag"></span>
                            Импорт
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('index') }}">
                            <span data-feather="shopping-bag"></span>
                            Данные вылетов
                        </a>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{{ path('math', {'id': departure.id}) }}" target="_blank">#}
{#                            <span data-feather="tool"></span>#}
{#                            Что-то расчитать#}
{#                        </a>#}
{#                    </li>#}
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">{% block h1 %}Просмотр данных{% endblock %}</h1>
                {% block h1_after %}{% endblock %}
            </div>
            {% block content %}{% endblock %}
        </main>
    </div>
</div>
<main role="main" class="container">
    {% block body %}{% endblock %}
</main>
<script src="{{ asset('jquery.min.js', 'jquery') }}"></script>
<script src="{{ asset('js/bootstrap.bundle.min.js', 'bootstrap') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
